    <!-- Filter Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-white"><i class="bi bi-funnel"></i> فیلتر محصولات</h6>
            <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterCollapse">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>

        <div class="card-body collapse show" id="filterCollapse">
            <form method="get" class="row g-3" action="{% url 'product_list' %}">
                <!-- search -->
                <div class="col-md-3">
                    <label class="form-label">{{ filter_form.search.label_tag }}</label>
                    {{ filter_form.search }}
                </div>

                <!-- Inventory status -->
                <div class="col-md-2">
                    <label class="form-label">{{ filter_form.availability.label_tag }}</label>
                    {{ filter_form.availability }}
                </div>

                <!-- Price range -->
                <div class="col-md-4">
                    <label for="price-range" class="form-label text-end">محدوده قیمت</label>
                    <div class="d-flex justify-content-between mb-2">
                        <div class="input-group" style="width: 48%;">
                            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                            <input type="number" class="form-control text-end" id="min_price" name="min_price"
                                value="{{ form.min_price.value|default:0 }}" placeholder="حداقل" min="0">
                        </div>
                        <div class="input-group" style="width: 48%;">
                            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
                            <input type="number" class="form-control text-end" id="max_price" name="max_price"
                                value="{{ form.max_price.value|default:1000000 }}" placeholder="حداکثر" min="0">
                        </div>
                    </div>

                    <div id="price-range" class="mt-5"></div>
                </div>

                <!-- Apply filter button -->
                <div class="col-md-3 filter-btn-container">
                    <div class="mt-auto">
                        <button type="submit" class="btn btn-primary filter-btn w-100">
                            <i class="bi bi-filter"></i> اعمال فیلتر
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>